<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__logo">&lt; Andrey Onipchenko &gt;</div>
      <div class="header__contact flex-sb">
        <a class="header__phone" href="tel:+380680484492">+30680484492</a>
        <a
          class="header__social"
          href="https://github.com/Andreysk8er"
          target="_blank"
        >
          <img
            class="header__social-img"
            src="../assets/images/icon/git-icon.svg"
            alt="github"
        /></a>
        <a
          class="header__social"
          href="https://www.instagram.com/andreyfrontenddeveloper/?hl=ru"
          target="_blank"
        >
          <img
            class="header__social-img"
            src="../assets/images/icon/instagram.svg"
            alt="instagram"
          />
        </a>
        <a
          class="header__social"
          href="https://www.facebook.com/profile.php?id=100000978386042&ref=bookmarks"
          target="_blank"
        >
          <img
            class="header__social-img"
            src="../assets/images/icon/facebook.svg"
            alt="facebook"
          />
        </a>
      </div>
    </div>
  </div>
</header>
